/* setting up colors & padding */
body{
    background-color: #212c41;
    font-family: 'Fira Sans', sans-serif;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
nav {
    box-sizing: border-box;
}
.nav_setup{
    display: flex;
    height: 60px;
}
.nav_left {
    box-sizing: border-box;
    flex:1;
    display: flex;
}
.nav_title {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
}
.nav_title P {
    color: #fcfcfc;
    padding-right: 100px;
    padding-left: 100px;
    align-self: center;
    font-size: 0.85em;
    font-weight: 300;
}
.nav_title P a:link {
    color: #fcfcfc;
    text-decoration: none;
}
.nav_right {
    box-sizing: border-box;
    flex:1;
    display: flex;
}
.nav_links {
    box-sizing: border-box;
    display: flex;
    flex-flow: row-reverse;
    
}
.nav_links ul {
    box-sizing: border-box;
}
.nav_links li  {
    display: inline;
    margin: auto;
    color: #fcfcfc;
    font-size: 0.85em;
    font-weight: 300;
    padding-left: 10px;
}
.nav_links li a:link  {
    color: #fcfcfc;
    text-decoration: none;
}
.nav_links li a:hover  {
    color: #fcfcfc;
    text-decoration: underline;
}

header {
    box-sizing: border-box;
    background-image: url(https://source.unsplash.com/user/christopher__burns/1600x900);
}
.header_setup{
    display: flex;
    height: 420px;
}
.header_left {
    box-sizing: border-box;
    flex:1;
    display: flex;
}
.header_title {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
}
.header_title h1 {
    color: #fcfcfc;
    padding-right: 100px;
    padding-left: 100px;
    align-self: center;
    font-size: 4em;
    font-weight: 300;
}
.header_right {
    box-sizing: border-box;
    flex:1;
    display: flex;
}
.header_text {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 80%;
}
.header_text P {
    background-color:#212c41;
    color: #fcfcfc;
    padding: 20px;
    font-size: 1.1em;
    font-weight: 500;
}
.intro {
    background-color: #fafafa;
    box-sizing: border-box;
}
.intro_setup{
    display: flex;
    height: 380px;
}
.intro_text {
    margin: auto;
}
.intro_text P {
    color: #070f1f;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 2.15em;
    margin: auto;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}
.work {
    box-sizing: border-box;
}
.work_setup {
    display: flex;
    height: 400px;
}
.work_left {
    box-sizing: border-box;
    flex:1;
    display: flex;
}
.work_title {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
}
.work_title h2 {
    color: #FFF;
    padding-right: 100px;
    padding-left: 100px;
    align-self: center;
    font-size: 4em;
    font-weight: 300;
}
.work_right {
    box-sizing: border-box;
    flex:1;
    display: flex;
    flex-flow: wrap;
}
.work_item_1 {
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    background-image: url(https://source.unsplash.com/user/wsanter/1600x900);
    background-size: cover;
    display: flex;
}
.work_item_2 {
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    background-image: url(https://source.unsplash.com/user/andrewtneel/1600x900);
    background-size: cover;
    display: flex;
}
.work_item_3 {
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    background-image: url(https://source.unsplash.com/user/christopher__burns/1600x900);
    background-size: cover;
    display: flex;
    opacity: 0.5;
}
.work_item_4 {
    box-sizing: border-box;
    width: 50%;
    height: 50%;
    background-image: url(https://mickeypg.github.io/images/75-unsplash.jpg);
    background-size: cover;
    display: flex;
}
.work_overlay {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
}
.work_overlay_test {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    opacity: 0.5;
}
.work_overlay P {
    background-color:#404040;
    color: #FFF;
    padding: 20px;
    margin: auto;
}
.contact {
    box-sizing: border-box;
    background-color: #f6f6f6;
}
.contact_setup{
    display: flex;
    height: 380px;
}
.contact_left {
    box-sizing: border-box;
    flex:1;
    display: flex;
}
.contact_title {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
}
.contact_title h2 {
    color: #212c41;
    padding-right: 100px;
    padding-left: 100px;
    align-self: center;
    font-size: 4em;
    font-weight: 300;
}
.contact_right {
    box-sizing: border-box;
    flex:1;
    display: flex;
}
.contact_text {
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 80%;
}
.contact_text P {
    background-color:#212c41;
    color: #fcfcfc;
    padding: 20px;
    font-size: 1.1em;
    font-weight: 500;
}